@model IEnumerable<FrunutStock.Model.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemGroup.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBoxesOnHand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWeightOnHand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBoxesReserved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWeightReserved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemGroup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoxWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBoxesOnHand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWeightOnHand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBoxesReserved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWeightReserved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
